/* Core Utilities */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Smooth Tab Transitions */
.tab-content { transition: opacity 0.3s ease; }
.sidebar-btn { transition: all 0.2s ease; }

/* Global overrides */
body {
    -webkit-font-smoothing: antialiased;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
